@import "../../common/color.scss";

.card-item {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 30px 20px;
  align-items: center;
  img {
    height: 250px;
    width: 210px;
  }
  p {
    padding: 20px 0;
    text-align: center;
    color: black;
  }
  h4 {
    color: black;
    font-size: 14px;
    text-align: center;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  button {
    cursor: pointer;
    margin-top: 10px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
  }
}

.card-item:hover {
  transition: 300ms;
  transform: scale(1.2, 1.2);
}
button:hover {
  background-color: rgb(191, 191, 191);
}
