@import "../../common/color.scss";

.products-wrapper {
  .searchBar {
    width: 50%;
    min-width: 300px;
    padding: 10px;
    margin-bottom: 20px;
  }
}
.products-list {
  margin: 20px 0px;
  h2 {
    color: $font-secondary;
    margin-bottom: 10px;
    font-weight: 400;
  }
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-gap: 15px;
}
