@import "../../common/color.scss";

.products-wrapper {
  .searchBar {
    width: 50%;
    min-width: 300px;
    padding: 10px;
    margin-bottom: 20px;
  }
}
.products-list {
  margin: 20px 0px;
  .products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
